<footer class="site-footer">
  <div class="container">
    <div class="row footer-center text-center">

      <div class="col-md-4 mb-4">
        <h5>Nestara</h5>
        <p>
          Discover comfortable stays and <br>
          explore amazing locations with ease.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5>Quick Links</h5>
        <a href="/listings">Explore</a><br>
        <a href="/listings/new">List your place</a><br>
        <a href="#">Support</a>
      </div>

      <div class="col-md-4 mb-4">
        <h5>Contact</h5>
        <p>support@nestara.com</p>
        <div class="social-icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center copyright">
    © 2025 Nestara · All rights reserved
  </div>
</footer>
