<footer class="site-footer">
  <div class="container">
    <div class="row footer-center text-center">

      <div class="col-md-4 mb-4">
        
        <h4><i class="fa-solid fa-ship" style="color: black;"></i>&nbsp;Nestara</h4>
        <p>
          Discover comfortable stays and <br>
          explore amazing locations with ease.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h4><i class="fa-solid fa-link"></i>&nbsp;Quick Links</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listings">Explore</a><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listings/new">List your place</a><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Support</a>
      </div>

      <div class="col-md-4 mb-4">
        <h4><i class="fa-solid fa-address-card"></i>&nbsp;Contact</h4>
        <p>support@nestara.com</p>
        <div class="social-icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center copyright" style="font-size: medium;">
    © 2025 Nestara · All rights reserved
  </div>
</footer>
